/* 共通設定 */
body, html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;  
    text-decoration: none;
}

label {
    font-size: 16px;
    color: #0000008A;
    font-weight: 400;
}

textarea {
    resize: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    padding-bottom: 80px;
} 

/* ヘッダー */
.header {
    max-width: 100%;
    height: 120px;
    background-color: #1B5678;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: auto;
    height: 41px;
    font-size: 36px;
    font-weight: 700; 
    color: #FFFFFF;
    white-space: nowrap;  
}

.login-btn, .logout-btn {
    width: 152px;
    height: 53px;
    padding: 16px 40px;
    background-color: #FFFFFF;
    color: #000000BF;
    border-radius: 4px;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

/* メインタイトル */
.main-title {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    color: #000000BF;
    text-align: center;
    margin-top: 80px;
}

/* フォーム部 */
.form-container {
    width: 480px;
    margin: 0 auto;
    margin-top: 80px;
}

.form-group {
    margin-bottom: 48px;
}

.form-control {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000000;
    padding: 8px;
    margin-top: 3px;
    border-radius: 0;
    outline: none;
}

/* 送信ボタン */
.submit-btn {
    width: 232px;
    height: 53px;
    padding: 16px 80px;
    background-color: #1B5678;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

.submit-btn:hover {
    background-color: #144564;
}

/* フッター */
.footer {
    max-width: 100%;
    margin-top: auto;
    height: 40px;
    background-color: #1B5678;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

/* aタグの文字変化を無効化 */
.submit-btn:link,
.submit-btn:visited {
    text-decoration: none;  /* 通常時も下線なし */
    color: #FFFFFF;  /* ホバー前も白 */
}