@import url('/css/common.css');

.header {
    justify-content: center;
}

.text-danger {
    font-size: 18px; 
    margin-top: 20px; 
    text-align: center;
}

.button-container {
    gap: 16px;  
    margin-top: 20px;
}

.submit-btn {
    margin-bottom: 40px;
    white-space: nowrap;
}

/* aタグの文字変化を無効化 */
.submit-btn:link,
.submit-btn:visited {
    text-decoration: none;  /* 通常時も下線なし */
    color: #FFFFFF;  /* ホバー前も白 */
}

