@import url('/css/common.css');

.custom-file-upload {
    width: 202px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #0000001A;
    font-size: 14px;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border: none;
    padding: 8px 24px;
}

.upload-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    gap: 25px;
}


/* ファイルアップロード入力の非表示 */
.form-control-file {
    display: none;
}

/* ファイル名表示用 */
#file-name {
    font-size: 14px;
    word-wrap: break-word;  
    max-width: 250px;       
    line-height: 1.5;       
    overflow-wrap: break-word; 
    white-space: normal; 
    display: flex;
    align-items: center;
}

.submit-btn {
    width: 322px;
}

