<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログインページ</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <form th:action="@{/login}" method="post">
        <label for="username">ユーザー名:</label>
        <input type="text" id="username" name="username">
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password">
        <button type="submit">ログイン</button>
    </form>
</body>
</html>